/**
    Metabolomics Pipeline (MP)
    Copyright (C) lemas-research-group          
          
    This script is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    
    This script is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.
    
    You should have received a copy of the GNU General Public License
    along with this script.  If not, see <http://www.gnu.org/licenses/>.
    
    For any bugs or problems found, please contact us at
    - [email placeholder]; 
    - [github placeholder]
*/

manifest {
    homePage = 'https://github.com/GalaxyDream/metabolomics_data_processing'
    description = 'Metabolomic data processing pipeline'
    mainScript = 'run_sample.nf'
    version = '0.0.0'
}

trace 
{
    enabled = true
    fields = 'task_id, name, status, exit, module, submit, start, complete, duration, realtime, %cpu, rss, vmem, peak_rss, peak_vmem'
}

report
{
    enabled = true
    file = 'nextflow_report.html'
}

timeline 
{
    enabled = true
}

params 
{
    // Whether do blank subtraction or not
    bs = "1"

    //Change the following folder location (positive samples) to the location on your machine
    input_dir_pos = "/ufrc/djlemas/xinsongdu/jupyter_notebook/data/metabolomics/POS_2group"  

    //Change the following folder location (negative samples) to the location on your machine
    input_dir_neg = "/ufrc/djlemas/xinsongdu/jupyter_notebook/data/metabolomics/NEG_2group"

    version = null
    help = null

    //Change the following folder location (MzMine-2.28) to the location on your machine
    mzmine_dir = "/ufrc/djlemas/xinsongdu/jupyter_notebook/tools/MZmine-2.53-Linux/"
//    mzmine_dir = "MZmine-2.28/"

    //Change the following file location (customized library for matching metabolites) to the location on your machine
    library = "/ufrc/djlemas/xinsongdu/jupyter_notebook/projects/metabolomics_data_processing/data/Positive_Garrett_MetaboliteStd_Library_RP_edited01152019JG.csv"
    
    pos_config = "pos_config.xml"
    neg_config = "neg_config.xml"

    pos_mzmine_peak_output = "./data/pos_data.csv" // Positive data processing result generated by MzMine, this is an intermediate result, it is not used by "run_all.nf"
    neg_mzmine_peak_output = "./data/neg_data.csv" // Negative data processing result generated by MzMine, this is an intermediate result, it is not used by "run_all.nf"

    pos_data_nobg = "./data/pos_data_before_blank_subtraction.csv"
    neg_data_nobg = "./data/pos_data_before_blank_subtraction.csv"

    batchfile_generator_pos = "./src/batchfile_generator_pos_253.py"
    batchfile_generator_neg = "./src/batchfile_generator_neg_253.py"
    mzmine_result_extraction = "./src/mzmine_result_extraction.py"
    raw_stats_merge_path = "./src/raw_stats_merge.py"
    python_vd = "./src/venn.py"
    python_addstats = "./src/add_stats.py"
    python_pca = "./src/pca.py"
    python_hclustering = "./src/H_clustering.py"
    python_barplot = "./src/bar_plot.py"
    data_info = "./src/data_info.py"
    peak_number_comparison_path = "./src/peak_number_comparison.py"

    python_bs = "./src/blank_subtraction.py"
    R_01_path = "./src/file01_read_clean_save_all_datasets.R"
    R_02_threshold_path = "./src/file02_absolute_thereshold_based_flags_and_summaries.R"
    R_02_blankbased_path = "./src/file02_blankbased_thereshold_based_flags_and_summaries.R"
    R_03_anova_path = "./src/file03_anova_based_flags_and_summaries.R"
    R_03_kruskalwallis_path = "./src/file03_kruskalwallis_based_flags_and_summaries.R"
    R_04_path = "./src/file04_merging_3blankbased_thresholds_with_anova_and_kruskalwallis.R"

    mqc_dir = "./results/mqc/"
    experiments_info = "./src/software_descriptions_mqc.txt"
    mqc_config = "./src/multiqc_config.yaml"

    // outputs for mqc_data_info
    pos_data_info_mqc = "a_pos_data_info_mqc.yaml"
    neg_data_info_mqc = "b_neg_data_info_mqc.yaml"

    // location of data and design files

    POS_data_path = "pos_data_extracted.csv"
    POS_design_path = "./data/pos_design.csv"
    NEG_data_path = "neg_data_extracted.csv"
    NEG_design_path = "./data/neg_design.csv"
    POS_Rdata_path = "milk_data_pos_ph.Rdata"
    POS_Rdata_csv_path = "milk_data_pos_ph.csv"
    POS_Rdesign_path = "milk_design_pos_ph.Rdata"
    NEG_Rdata_path = "milk_data_neg_ph.Rdata"
    NEG_Rdata_csv_path = "milk_data_neg_ph.csv"
    NEG_Rdesign_path = "milk_design_neg_ph.Rdata"

    // outputs for blank_subtraction
    pos_data_withbg = "pos_data_after_blank_subtraction.csv"
    neg_data_withbg = "neg_data_after_blank_subtraction.csv"

    // outputs for mqc_peak_number_comparison
    peak_number_comparison_mqc = "c_peak_number_comparison_mqc.txt"

    // outputs for raw_stats_merge_nobg
    pos_nobg_ready = "pos_nobg_ready.csv"
    neg_nobg_ready = "neg_nobg_ready.csv"

    // outputs for raw_stats_merge_withbg
    pos_005_withbg_ready = "pos_005_withbg_ready.csv"
    pos_100_withbg_ready = "pos_100_withbg_ready.csv"
    pos_200_withbg_ready = "pos_200_withbg_ready.csv"
    neg_005_withbg_ready = "neg_005_withbg_ready.csv"
    neg_100_withbg_ready = "neg_100_withbg_ready.csv"
    neg_200_withbg_ready = "neg_200_withbg_ready.csv"

    // outputs for pca_nobg
    pca_pos_nobg = "pca_pos_nobg.png"
    pca_neg_nobg = "pca_neg_nobg.png"

    // outputs for pca_withbg
    pca_pos_withbg = "pca_pos_withbg.png"
    pca_neg_withbg = "pca_neg_withbg.png"

    // outputs for venn_nobg
    vd_pos_nobg = "pos_vd_nobg.png"
    pos_vd_group1_nobg = "pos_vd_group1_nobg.csv"
    pos_vd_group2_nobg = "pos_vd_group2_nobg.csv"
    pos_vd_both_nobg = "pos_vd_both_nobg.csv"
    vd_neg_nobg = "neg_venn_nobg.png"
    neg_vd_group1_nobg = "neg_vd_group1_nobg.csv"
    neg_vd_group2_nobg = "neg_vd_group2_nobg.csv"
    neg_vd_both_nobg = "neg_vd_both_nobg.csv"

    // outputs for venn_withbg
    vd_pos_withbg = "pos_vd_withbg.png"
    pos_vd_group1_withbg = "pos_vd_group1_withbg.csv"
    pos_vd_group2_withbg = "pos_vd_group2_withbg.csv"
    pos_vd_both_withbg = "pos_vd_both_withbg.csv"
    vd_neg_withbg = "neg_venn_withbg.png"
    neg_vd_group1_withbg = "neg_vd_group1_withbg.csv"
    neg_vd_group2_withbg = "neg_vd_group2_withbg.csv"
    neg_vd_both_withbg = "neg_vd_both_withbg.csv"

    // outputs for h_clustering_nobg
    hclustering_pos_nobg = "hclustering_pos_nobg.png"
    hclustering_neg_nobg = "hclustering_neg_nobg.png"

    // outputs for h_clustering_withbg
    hclustering_pos_withbg = "hclustering_pos_withbg.png"
    hclustering_neg_withbg = "hclustering_neg_withbg.png"

    // outputs for barplot_nobg
    barplot_pos_nobg = "pos_barplot_group1_nobg.png"
    barplot_neg_nobg = "neg_barplot_group1_nobg.png"

    // outputs for barplot_withbg
    barplot_pos_withbg = "pos_barplot_group1_withbg.png"
    barplot_neg_withbg = "neg_barplot_group1_withbg.png"

}

process 
{
//    executor = 'slurm'    
    
    withName: mqc_data_info
    {
        time =  '15m'
        cpus = 1
        memory = '4 GB'  
    }
    withName: batchfile_generation_mzmine
    {
        time =  '15m'
        cpus = 1
        memory = '4 GB'
//        jobName = "batchfile_generation_mzmine"     
    }
    withName: pos_peakDetection_mzmine
    {
        time =  '1800m'
        cpus = 10
        memory = '180 GB'  
    }
    withName: neg_peakDetection_mzmine
    {
        time =  '1800m'
        cpus = 10
        memory = '180 GB'  
    }
    withName: mzmine_result_filtering
    {
        time =  '15m'
        cpus = 1
        memory = '4 GB'   
    }
    withName: p_R_01
    {
        time =  '15m'
        cpus = 1
        memory = '4 GB'   
    }
    withName: p_R_02_thereshold
    {
        time =  '15m'
        cpus = 1
        memory = '4 GB'   
    }
    withName: p_R_02_blankbased
    {
        time =  '15m'
        cpus = 1
        memory = '4 GB'   
    }
    withName: p_R_03_anova
    {
        time =  '15m'
        cpus = 1
        memory = '8 GB'   
    }
    withName: p_R_03_kruskalwallis
    {
        time =  '15m'
        cpus = 1
        memory = '8 GB'   
    }
    withName: p_R_04
    {
        time =  '15m'
        cpus = 1
        memory = '8 GB'   
    }
    withName: blank_subtraction
    {
        time =  '15m'
        cpus = 1
        memory = '4 GB'   
    }
    withName: raw_stats_merge_nobg
    {
        time =  '15m'
        cpus = 1
        memory = '4 GB'   
    }
    withName: raw_stats_merge_withbg
    {
        time =  '15m'
        cpus = 1
        memory = '4 GB'   
    }
    withName: pca_nobg
    {
        time =  '15m'
        cpus = 1
        memory = '4 GB'   
    }
    withName: pca_withbg
    {
        time =  '15m'
        cpus = 1
        memory = '4 GB'   
    }
    withName: venn_diagram_nobg
    {
        time =  '15m'
        cpus = 1
        memory = '4 GB'   
    }
    withName: venn_diagram_withbg
    {
        time =  '15m'
        cpus = 1
        memory = '4 GB'   
    }
    withName: bar_plot_nobg
    {
        time =  '15m'
        cpus = 1
        memory = '4 GB'   
    }
    withName: bar_plot_withbg
    {
        time =  '15m'
        cpus = 1
        memory = '4 GB'   
    }
    withName: mqc_figs
    {
        time =  '15m'
        cpus = 1
        memory = '4 GB'   
    }
    withName: report_generator
    {
        time =  '15m'
        cpus = 1
        memory = '4 GB'   
    }
}
