/**
    RUMP: A Reproducible Untargeted Metabolomics Data Processing Pipeline
    Description : This file in the configuration of RUMP, including resource allocation and parameters information
    Copyright   : (C) LemasLab
    Author      : Xinsong Du
    License     : GNU GPL-v3.0 License
          
    This script is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.
    
    This script is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
    GNU General Public License for more details.
    
    You should have received a copy of the GNU General Public License
    along with this script.  If not, see <http://www.gnu.org/licenses/>.
    
    For any bugs or problems found, please contact us at
    - xinsongdu@ufl.edu, manfiol@ufl.edu, djlemas@ufl.edu; 
    - https://github.com/lemaslab/RUMP
*/

params
{
    input_dir_pos = "data/POS/"
    input_dir_neg = "data/NEG/"
    POS_design_path = "data/pos_design.csv"
    NEG_design_path = "data/neg_design.csv"
    pos_library = "positive_library.csv"
    neg_library = "negative_library.csv"

    max_cpus = 4
    max_memory = 7.GB
    max_time = 24.h
}

process 
{
    withName: pos_peakDetection_mzmine
    {
        time =  '600m'
        cpus = 2
        memory = '7 GB'  
    }
    withName: neg_peakDetection_mzmine
    {
        time =  '600m'
        cpus = 2
        memory = '7 GB'  
    }
}